<main>
  <div class="dropdown pt-3 text-center">
    <button class="btn btn-light dropdown-toggle mb-3 category" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expended="false">
      類別
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a href="/" class="dropdown-item"><i class="fas fa-home"></i> 家居物業</a>
      <a href="/" class="dropdown-item"><i class="fas fa-shuttle-van"></i> 交通出行</a>
      <a href="/" class="dropdown-item"><i class="fas fa-grin-beam"></i> 休閒娛樂</a>
      <a href="/" class="dropdown-item"><i class="fas fa-utensils"></i> 餐飲食品</a>
      <a href="/" class="dropdown-item"><i class="fas fa-pen"></i> 其他</a>
    </div>
  </div>
  <div class="total-amount-part text-center">
    <div class="total d-flex justify-content-center">
      <p>總金額：</p>
      <h1 class="total-amount ml-2">100000</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center data">
    <i class="fas fa-utensils fa-3x mr-3" style="color: rgb(69, 150, 177)"></i>
    <div class="item">
      <h4 class="mt-2 name">午餐</h4>
      <p class="mb-2 date">2019/04/23</p>
    </div>
    <h4 class="ml-2">60</h4>
    <div class="edit ml-3 d-flex align-items-center">
      <p class="modify mr-3 mt-2">修改</p>
      <p class="delete mt-2">刪除</p>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3 pb-3">
    <a class="btn btn-warning create" type="button" href="/new">新增支出</a>
  </div>
</main>