/* *{
  border: 1px solid black;
} */


main{
  color: rgb(73, 72, 72);
  background-color: rgb(210, 170, 150); 
  height: 100vmax;
}

.panel {
  margin: 0 auto;
  width: 800px;
}

.required{
  font-size: 0.5em;
}

.back{
  position: fixed;
  bottom: 50px;
}

.title {
  width: 500px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

input, select {
  width: 400px;
}

