/* *{
  border: 1px solid black;
} */


main{
  color: rgb(73, 72, 72);
  background-color: rgb(220, 236, 236); 
}

.panel {
  margin: 0 auto;
  width: 800px;
}

.required{
  font-size: 0.5em;
}

.title {
  width: 500px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

input, select {
  width: 400px;
}

