/* *{
  border: 1px solid black;
} */



main{

  color: rgb(73, 72, 72);
  background-color: rgb(220, 236, 236); 
}

.panel{
  margin: 0 auto;
  width: 800px;
}

.category-filter {
  margin-left: -100px;
}


.month-filter {
  margin-left: 50px;
}

.category, .month {
  border: 1px solid black;
  width: 200px;
  background-color: white;
}

.total-amount {
  color: rgb(255, 91, 27);
}

.data {
  width: 400px;
  margin: 0 auto;
}

tr {
  width: 600px;
}

tr:hover {
  background-color: #efefef;
}
.name{
  width: 150px;
}

.date {
  font-size: 0.8em;
}
.modify, .delete{
  color: rgb(73, 72, 72);
}
